.basic-layout {
  display: flex;
  text-align: center;
  height: 100%;

  .basic-layout__header {
    width: 30%;
  }

  .basic-layout__side {
    width: 30%;
  }

  .basic-components {
    border: 1px solid red;
  }

  .basic-components__config {
    border: 1px solid green;
  }
}

.layout-item {
  flex: 1;
}

